/*Global Styles*/
body {
    background-color:#59BAF0;
    font-family: 'Mukta', sans-serif;
}


img {
    display: block;
    max-width: 100%;
    margin: 0% auto;
}
video {
    display: flex;
    margin: 40px auto;
    width: 700px;
    height: 1200px;
}

/*Mobile Styles*/

#container {
    background-color: #59BAF0;
    margin: 20px;
    border: 4px solid;
}

header {
    background-image: url('../images/gcourse1.jpg');
    background-size: cover;
    padding: 60px 0;
}

header h1 {
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    background-color: lightslategrey;
    color: white;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    margin: 10px 0;
    border-radius: 10px;
}

nav li a:hover {
    background-color: black;
    text-shadow: 2px 2px 2px black;
}


nav, section, aside, .col, footer {
    background-color: white;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    border: 4px solid grey;
}

h2,h3 {
    color: #5E74FD;
    text-shadow: 2px 2px 2px black;
    font-size: 1.7em;
    text-align: center;
    
}

section img, aside img {
    width: 65%;
}

.button {
    display: block;
    background-color: blue;
    color: white;
    height: 40px;
    width: 200px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin: 10px auto;
    border-radius: 10px;
}

.button:hover {
    background-color: lightslategrey;
    text-shadow: 2px 2px 2px black;
}

footer {
    text-align: center;
    color: black;
}
.single_col {
    width: 83%;
}
audio  {
    display: block;
    margin: 20px auto;
    width: 75%;
}

iframe {
    display: block;
    margin: 20px auto;
}

.gallery_img {
    border: 4px solid lightslategrey;
    border-radius: 10px;
    margin: 10px auto;
}

table {
    display: none;
}



/*Tablet Styles*/

@media(min-width: 768px) {
    header {
        padding: 125px;
    }
    header h1{
     font-size: 3em;
    }
    nav {
        text-align: center;
    }


    nav li{
        display: inline-block;
    }

    nav li a {
        height: 50px;
        line-height: 50px;
        width: 250px;

    }

    #upper_flex {
        display: flex;
        font-size: 22px ;
    }

    section, aside {
        width: 96.5%;
        text-align: center;
    }

    aside img {
        width: 50%
    }
    .single_col {
        width: 95%;
    }
}

/*Desktop Styles*/

@media(min-width: 1024px) {

#containter {
    width: 75%;
    margin: 20px auto;
    border: 4px solid white;
    border-radius: 20px;

    }
    header {
        border-radius: 20px 20px 0 0 ;
    }
    nav li a {
margin: 0 20px;
    }

#lower_flex {
    display: flex;
    font-size: 22px;
}

.col {
    width: 100%;
}

.col img {
    width: 90%;
}
.single_col {
    width: 100%;
}

table, tr, td {
    border: 4px solid lightslategrey;
    padding: 10px;
    margin: 10px;
}

table img {
    width: 100%;
}

.gallery {
    display: none;
}

table {
    display: block;
}

}
